
<!--
<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="heading">Sobre mi</h2>
            </div>
            <div class="col-md-8">
                <i>
                    Soy una persona pro/activa y autodidacta, mis estudios y mis trabajos estan ligados a las IT. Tengo facilidades en el teletrabajo debido a mi experiencia profesional y academica la cual la desarolle de manera virtual. Estoy interesado en distintos proyectos de desarrollo. Actualmente trabajo full-time.
                </i>
            </div>
        </div>
    </div>
  </div>
  -->
  <div class="container-fluid">
      

  <div class="card mb-3">
    <div class="row g-0">
      
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Acerca de mi</h5>
          <p class="card-text">{{miPortfolio.about}}</p>
          <div class="container-fluid">
            <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">
                <a class="btn btn-secondary " target="__blank" href="#"><i ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                </svg></i></a>
              </div>
            </div>          
          </div>
          
        </div>
      </div>
    </div>
  </div>

    </div>