<div id="projects" class="background-alt">
    <h2 class="heading">Proyectos</h2>
    <div class="container">
        <div class="row">
            <div class="project shadow-large">
                <div class="row">
                    <img src="assets/images/vete.jpg" alt="veterina Cuki" class="img-thumbnail img-fluid" />
                </div>
                <!-- End .project-image -->
                <div class="img-info">
                    <h3>Veterinaria Cuki</h3>
                    <p>
                       Maqueta de web ESTATICA, utilizacion de HTML, CSS y Bootstrap
                    </p>
                    <a href="
                    https://fraperrone.github.io/">mirar proyecto</a>
                </div>
                <!-- End .project-info -->
            </div>
            <!-- End .project -->
  
            
            <!-- End .project -->
        </div>
    </div>
  </div>