<!--
<div id="experience" class="background-alt">
    <h2 class="heading">Experiencia</h2>
    <div  class="timeline">
        <div data-date="Sep 2015 – ">
            <h3>Soporte Tecnico</h3>
            <h4>Tecnico informatico</h4>
            <p>
                soporte de micro y macro infomatica, software optimizacion, backups, restore de SO y sistemas.
            </p>
        </div>
  
        <div data-date="Sep 2015 – ">
            <h3>Soporte Tecnico</h3>
            <h4>tecnico en redes</h4>
            <p>
                Rakeo, cableado, de servidores, puesta en funcionamiento.
            </p>
        </div>
  
        <div data-date="Feb 2021 – ">
            <h3>BPBA</h3>
            <h4>tecnico informatico</h4>
            <p>
                Asistencia a udns, remoto y presencial racks. Control de funcionamiento de los distintos equipos
            </p>
        </div>
    </div>
  </div>
-->

<!--
<h2 id="experience">Experiencia</h2>

<ul class="timeline">
    <li>
        <div class="timeline-badge">
          <a><i class="fa fa-circle" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Soporte Técnico</h4>
            </div>
            <div class="timeline-body">
                <p>Soporte de micro y macro informatica, redes, capacitacion, SO: Windows, mac, Linux</p>
            </div>
            <div class="timeline-footer">
                <p class="text-right">Feb-21-2014</p>
            </div>
        </div>
    </li>
    
    <li class="timeline-inverted">
        <div class="timeline-badge">
            <a><i class="fa fa-circle invert" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Soporte Técnico Canal de la Ciudad</h4>
            </div>
            <div class="timeline-body">
                <p>Soporte de terminales, limpieza de malware, usos de software. Cambio de modulos de HW</p>
            </div>
            <div class="timeline-footer">
                <p class="text-right">Mar-23-2018</p>
            </div>
        </div>
    </li>
    
    <li>
        <div class="timeline-badge">
            <a><i class="fa fa-circle" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>BPBA</h4>
            </div>
            <div class="timeline-body">
                <p>Soporte tecnico entornos windows, UDNs y Centros zonales; jurisdiccion BS AS. Remeto y presencial, instalacion de servidores y rackeo.</p>
            </div>
            <div class="timeline-footer">
                <p class="text-right">Feb-1-2021</p>
            </div>
        </div>
    </li>
        
    <li  class="timeline-inverted">
        <div class="timeline-badge">
            <a><i class="fa fa-circle invert" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>BPBA</h4>
            </div>
            <div class="timeline-body">
                <p>Centro de monitoreo; control de servicios online de los distintos servicios al publico y al cliente interno. Monitoreo de Mainframe.</p>
            </div>
            <div class="timeline-footer primary">
                <p class="text-right">Feb-01-2022</p>
            </div>
        </div>
    </li>
    <li class="clearfix no-float"></li>
</ul>
-->



